*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

 body .imag img{
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
 z-index: -1;
  background-position: center;
    background-size: cover;
    position: absolute;
 }

  .box{
    width: 90%;
    max-width: 450px;
    background-color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
  }
  .box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:  #000000;
    position: relative;
  }
  .box h1::after{
content: '';
width: 30px;
height: 4px;
border-radius: 3px;
background: #000000;
position: absolute;
bottom: -12px;
left: 50%;
transform: translate(-50%);
  }
  .champ{
    background: #cacaca;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  .champ i{
   margin-left: 50px;
   color: rgb(131, 131, 131);
  }
   p{
  
    top: 20px;
    text-align: left;
    font-size: 13px;
   }
   p a{
    
    text-decoration: none;
    color:  #575757;
   }

   .button {
    
  
   margin-top: -20px;
    width: 100%;
    display:flex ;
    justify-content: space-between;
   }
   .button button {
  
    flex-basis: 48%;
    background:   #000000;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: #fff;
   
}
.group{
    height: 280px;
}
 
  .button button.disable{
    background-color:#cacaca ;
    color: rgb(131, 131, 131) ;
  }
 
  .login   {
    position: absolute;
    margin-top: 50px;
    margin-left: 110px;
   
    background-color:#cacaca ;
   
    height: 40px;
    width: 100px;
    border-radius:18px ;
    padding-right: 37px;
  }
 .login a{
   
    position: absolute;
    text-decoration: none;
    color: rgb(131, 131, 131) ;
    padding-top: 10px;
  padding-left: -20px;
  }
  

  .login  .sup{
    
   
    background-color:  #000000;
    color: white;
    margin-left: -31px;
    margin-top: -0.5px;
    height: 41px;
    width: 100.6px;
    border-radius:18px ;
    cursor: not-allowed;
   
  }
  #add {

    position: absolute; 
  margin-top: -84px;
  left: 70%;
    

  }
  #add button{
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    color: white;
  background: black;
  border-radius: 20px;


  }
  #connect {

    position: absolute; 
  margin-top: -136px;
  left: 70%;
    

  }
  #connect button{
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    color: white;
  background: black;
  border-radius: 20px;


  }
  span #s3{
    position:absolute;
    margin-top: -20px;
  }
  .show {
    position: absolute;
    left: 90%;
    margin-top: -148px;
  
    
  }
   .show button{
    background-color: white;
  border: none;
    cursor: pointer;
   }
   .hide {
    position: absolute;
    left: 90%;
    margin-top: -148px;
  
    
  }
   .hide button{
    background-color: white;
  border: none;
    cursor: pointer;
   }